__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
.env
*.log
.DS_Store
node_modules/
.next/
out/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
output.mp3
text2speech.py
welcome.mp3

